.navbar{
  background: #9C27B0;
}
.navbar h2{
  color: white;
}
.navbar p{
  color: white;
}
.navbar a{
  color: white;
}

#btnSubmit{
  background: #8E24AA;
  color: white;
}
.well{
  background: #FFFFFF;
  /* border-color: #009688; */
  border-width: 1px;
  box-shadow: 10px 10px 5px #888888;
}