<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div style="text-align:left">
    <h1>
      Welcome to Dereck Movie!
    </h1>
  </div>
  
  <input type="text" class="form-control"  required="required" placeholder="Quote" name="quote" [(ngModel)]="movieQuotes.quote" > <br> 
  <input type="text" class="form-control" required="required" placeholder="From Movie" name="movie" [(ngModel)]="movieQuotes.movie" >
  <p *ngIf="movieQuotes.movie && movieQuotes.quote">
    The Best Quote from {{movieQuotes.movie}}  is {{movieQuotes.quote}} 
  </p>
</div>